# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local vsc settings
.vscode/

# OS files
.DS_Store
Thumbs.db

.vercel
.env*.local
